/* Update Information page */


.main-section .card {}

.progress-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.progress-step {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 1;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.circle.active {
  background-color: var(--custom-blue);
  color: white;
}

.line {
  height: 5px;
  flex: 1;
  background-color: #e0e0e0;
  position: relative;
  transition: background-color 0.5s ease;
}

.line.filled {
  background-color: var(--custom-blue);
}

.line.filled.final {
  background-color: #198754;
}

.step-heading {
  color: #5e7297;
}

input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: var(--custom-blue);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0057b3;
}

.navigation-buttons {
  position: absolute;
  right: 20px;
  top: 80%;
}

.rpv-toolbar {
  margin-bottom: 2rem;
}